<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-mail</title>
    <style type="text/css">
        body {
		background:  url(svetlye_fony.jpg);
		color: #000;
		background-attachment: fixed;
		background-repeat: repeat-x;
}

        .email td {
            border: 1px solid #000000;
            padding: 15px;
        }


    </style>
</head>
<body background="svetlye_fony.jpg">
<h1>E-mail:</h1>

<table class="email">
    <thead>
    <tr>
        <th>ID</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="email: ${email}">
        <td th:text="${email.id}">1</td>
        <td th:text="${email.address}">polyakov@mail.ru</td>
        <td>
            <a th:href="@{/email/{id}/edit(id=${email.id})}" href="email-edit.html">Edit</a>
        </td>
        <td>
            <a th:href="@{/email/{id}/delete(id=${email.id})}" href="/email">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div class="row">
    <button type="button"><a href="/email/add">Add new Email</a></button>
</div>
</body>
</html>