<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .users td {
            border: 1px solid #000000;
            padding: 15px;
        }

    </style>
</head>
<body>
<h1 align="left"><a href="/">Пользователи</a></h1>
<h1 align="center"><a href="/pet">Животные</a></h1>
<h1 align="right"><a href="/email">E-mail</a></h1>
</body>
</html>