<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список животных</title>
    <style type="text/css">
        body {
		background:  url(svetlye_fony.jpg);
		color: #000;
		background-attachment: fixed;
		background-repeat: repeat-x;
}

        .pet td {
            border: 1px solid #000000;
            padding: 15px;
        }

        div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}


    </style>
</head>
<body>
<h1>Животные:</h1>

<table class="pet">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet: ${pet}">
        <td th:text="${pet.id}">1</td>
        <td th:text="${pet.type}">Dog</td>
        <td th:text="${pet.name}">Мурзик</td>
        <td>
            <a th:href="@{/pet/{id}/edit(id=${pet.id})}" href="pet-edit.html">Edit</a>
        </td>
        <td>
            <a th:href="@{/pet/{id}/delete(id=${pet.id})}" href="/pet">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div class="field">
    <button type="button"><a href="/pet/add">Add new Pet</a></button>
</div>
</body>
</html>