<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Добавить животное пользователя</title>
    <style type="text/css">
    body {
		background:  url(svetlye_fony.jpg);
		color: #000;
		background-attachment: fixed;
		background-repeat: repeat-x;
}

        div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}



    </style>
</head>
<body>
<form id="add-form" th:action="@{/pet/add/}" th:method="post" action="pet-add.html">
    <h1>Pet Info:</h1>

    <div class="field">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" th:value="${petDto?.id}" value="1"/>
    </div>

    <div class="field">
        <label for="type-input">Type:</label>
        <input id="type-input" name="type" type="text" th:value="${petDto?.type}" value="dog"/>
    </div>

    <div class="field">
        <label for="name-input">Type:</label>
        <input id="name-input" name="name" type="text" th:value="${petDto?.address}" value="Шарик"/>
    </div>

    <div class="field">
        <label></label>
        <button type="submit" th:href="pet">Add and save</button>
    </div>
</form>
</body>
</html>